nav {
	background: #000;
	&:hover {
		content: 'hover';
	}
	ul {
		display: block;
		width: 100%;
		max-width: $l-grid + px;
		margin: 0 auto;padding: 0;
	}
	li {//DONT NEST UNLESS THERE ARE OL TAGS AS WELL
		display: inline-block;
		color: #fff;
		height: 40px;
		vertical-align: middle;
		box-sizing: border-box;
		&:not(:first-child){
			padding: 20px;
		}
		@include media($s-grid){
			$h: 70px;
			height: $h;
			&:hover {
				position: relative;
				cursor: pointer;
				&:before {
					content: '';
					position: absolute;
					top: 0;left: 0;right: 0;bottom: 0;
					background: rgba(255,0,0,.5);
				}
			}
			.icon-marvel-logo {//ITS AN ID...DONT NEST UNLESS THERE IS A REASON
				font-size: $h;
				line-height: 100%;
				box-shadow: 0px 3px 0px #c40d15;
				display: inline-block;
				overflow: hidden;
				zoom: 1;
				height: $h - 2px;
			}
		}
	}
	.icon-marvel-logo {//ITS AN ID...DONT NEST UNLESS THERE IS A REASON
		$h: 40px;
		font-size: $h;
		line-height: 100%;
		box-shadow: 0px 3px 0px #c40d15;
		display: inline-block;
		overflow: hidden;
		height: $h - 2px;
		position: relative;
	}
}