@import "utilities/defines";
//Explicity notresponsive class
test {
	content: 'all devices';

	@include media( 800 ){
		content: 'device is larger than 1px';
	}
}

test:hover {
	content: 'not touch';
}

.lt-ie9 {
	content: 'IE';
}

