// silly old IE compatibility support options
$IE: 8;
$IECompatibility: true;

// grid sync breakpoints
$xl-grid: 1050;
$l-grid: 940;
$m-grid: 800;
$s-grid: 570;
$xs-grid: 480;

// grid sync margins
$l-margin: 80;
$m-margin: 60;
$s-margin: 30;

$marvelRed: #ff0707;

