test {
  content: 'all devices'; }
  .notresponsive test {
    content: 'device is larger than 1px'; }
  @media only screen and (min-width: 800px) {
    html test {
      content: 'device is larger than 1px'; } }

test:hover {
  content: 'not touch'; }

.lt-ie9 {
  content: 'IE'; }
